footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    justify-content: space-around;
    width: 100%;
    
    margin: 0;
    padding: 2rem;
    color: #fff;
    background: #6278F7;
    font-size: 1.5rem;
    gap: 2rem;
    margin: 0;
   
}




